---
---

@import "minima";

.post-content a,
.page-content a,
article a,
.home a,
p a {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.site-nav a,
.site-header a {
  text-decoration: none;
}
