---
---

@import "minima";

.post-content a,
.page-content a,
article a,
.home a,
p a {
  color: #0050BA;
  text-decoration: underline;
  text-underline-offset: 2px;
}

.site-nav a,
.site-header a,
.site-footer a {
  color: #1A5490;
  text-decoration: none;
}
